.main {
  display: grid;
  gap: 1rem;
  justify-content: center;
  place-content: center;
  justify-items: center;
  padding-bottom: 100px;
}

.startContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 0.5rem;
  max-width: 25em;
}

.startSelect {
  font-family: var(--lk-font-family);
  padding: 0.8rem 1rem;
  background-color: var(--lk-control-bg);
  border: 1px solid var(--lk-border-color);
  border-radius: var(--lk-border-radius);
}
