.startSelect {
  font-family: var(--lk-font-family);
  padding: 0.8rem 1rem;
  background-color: var(--lk-control-bg);
  border: 1px solid var(--lk-border-color);
  border-radius: var(--lk-border-radius);
}
